canvas{background-color: #222831;}
body{background: #222831 !important;}
.jumbotron{
    color: #ffffff !important;
    background:#222831 !important;
    }
div { 
    text-align: center !important;
    align-content: center !important;
}